[2016-08-23 16:16] ecc1 opened #1 "boot failure on SparkFun blocks (base or console)"
I cloned https://github.com/andy-shev/linux and checked out the eds branch.
The tree is at e72aad722abd0a639a3ef4c42d8e59f4adc50d9e

On my desktop (Debian amd64, running stretch), I did:
$ make i386_defconfig
$ make ARCH=i386 -j4 bzImage
I copied bzImage to the /boot partition (/dev/mmcblk0p7) on my Edison.
I rebooted and entered U-Boot.  I changed the bootargs as shown in the attached file and bo

[2016-08-25 17:12] atlury commented on #1
The very latest i386 (eds branch) works for us. I have just compiled it and here is the paste log...wireless and external mmc should be working with patches from Andy...I am going to test them as well

http://pastebin.com/YRuXwXD1

[2016-08-25 17:26] ecc1 commented on #1
On Thu, Aug 25, 2016 at 10:12:46AM -0700, Rahul Atlury wrote:

Can you tell me which tree you're using (sha1 of HEAD) and post a copy
of your kernel .config?  I'd like to try to reproduce your success
exactly.

##

Eric Cooper             e c c @ c m u . e d u

[2016-08-25 17:33] atlury commented on #1
Eric

Please use the following 7z file (please remove the pdf extension). Contains the Andy's patches + config.
[i386-config-edison-mainline-with-p-andy.7z.pdf](https://github.com/andy-shev/linux/files/437667/i386-config-edison-mainline-with-p-andy.7z.pdf)

Kindly just checkout the latest eds branch.....i will check sha1 later for you...

[2016-08-25 19:42] ecc1 commented on #1
I've now tried those patches, with your exact .config and with the (patched) i386_defconfig, with gcc-6 and gcc-5, and all still result in error messages like this:

[    3.779816] clocksource: tsc: mask: 0xffffffffffffffff max_cycles: 0xe642f98297, max_idle_ns: 881590439301 ns
[    3.999823] i2c-designware-pci 0000:00:08.0: Can't set power state D0: -16
[    4.006813] clocksource: Switched to clo

[2016-08-25 19:44] ecc1 commented on #1
I'm probably doing something stupid; would you mind pasting the commands you used to configure and compile the kernel?

[2016-08-25 20:07] atlury commented on #1
Yes before that, can you please burn and test this release
https://github.com/atlury/Intel-Edison-OS-Images/releases/download/AlpineLinux-3.4.3-Mainline-Kernel/Alpine-Edison-Distro-Mainline-4.8-RC3.7z
1. Extract
2. run flashall.bat --recovery first and then plug in the board
3. immediately after that run flashall.bat (without disconnecting or re-plugging the board)

Meanwhile I will prep a guide f

[2016-08-25 20:13] atlury commented on #1
To disable the watch dog timer please run a script something like
while [ 1 ] ; do sleep 1; echo V > /dev/watchdog; echo V > /dev/watchdog0; done

the login is root and no password

[2016-08-25 20:49] ecc1 commented on #1
I'd rather not reflash if I can avoid it but if I hit a complete brick wall I will.  I notice a newer U-Boot in your boot log; is there anything that could be doing differently?

My system also disables watchdog in /etc/rc.local, but of course it's not getting that far with this kernel.

[2016-08-25 21:33] ecc1 commented on #1
This doesn't seem to be a valid 7z archive, according to 7-Zip (a) [64] 16.02 : https://github.com/atlury/Intel-Edison-OS-Images/releases/download/AlpineLinux-3.4.3-Mainline-Kernel/Alpine-Edison-Distro-Mainline-4.8-RC3.7z

[2016-08-26 03:54] atlury commented on #1
Yes my apologies, I re-uploaded...please share you hangouts...i will help you compile...We use a customized version of u-boot suited for that particular rootfs....you can then share a tutorial here...

[2016-08-26 15:43] ecc1 commented on #1
I tried the kernel from your Alpine image and got the same errors.  Finally I realized that all of these tests had been with my Edison module on a SparkFun base block.  I moved the Edison module to an Intel mini-breakout board and it works fine.

I have no idea what difference the base board should make.  Andy, please let me know if there's anything you'd like me to try to pinpoint and debug the d

[2016-08-26 17:29] atlury commented on #1
Thats strange. Even i am using the following sparkfun boards only.

Base block with microsd card block.

[2016-08-26 17:47] ecc1 commented on #1
I have a Pi Block with an SPI device connected; I'll try disconnecting that to see if that's affecting the boot.

[2016-08-26 19:43] ecc1 commented on #1
So it also boots correctly on just the Sparkfun base block.  But when also connected to a Sparkfun Pi Block, wired to an SPI device, it always produces the i2c and other errors in my original boot log.

[2016-08-27 15:05] ecc1 commented on #1
Another data point: the kernel also boots OK on the mini-breakout board wired to the same SPI device in the same way (SPI lines plus a couple of GPIOs for interrupts).

[2016-08-27 16:52] atlury commented on #1
Hi Eric
my priority is get the wifi (i have a new build to test it) and get external sd-card working. Post that, we can check the spi issue....

[2016-09-14 05:09] cklin opened #2 "eds branch kernel works in 32-bit mode, but not in 64-bit mode"
Is the kernel from eds branch supposed to work on Edison in 64-bit mode?

If I build the kernel (current eds branch head, 01e5c69a4f4a13d43e753157a5602b1d8c690469) in i386 architecture, the kernel boots fine on Intel Edison with mini-breakout board.  But if I build with x86_64 architecture using the same kernel source, the kernel fails to boot on the same Edison board.  This is what I see on the s

[2016-09-18 16:21] htot commented on #1
@ecc1 ,

I'm on Linux edison 4.8.0-rc6+ and have approx the same console-output as your first message, but my kernel boots.

I'm interested if you have been able to connect anything to the usb. In my case not:
root@edison:~# lsusb -t
/:  Bus 02.Port 1: Dev 1, Class=root_hub, Driver=xhci-hcd/1p, 5000M
/:  Bus 01.Port 1: Dev 1, Class=root_hub, Driver=xhci-hcd/1p, 480M

I have a smsc95xx connected (w

[2016-09-18 16:59] ecc1 commented on #1
On Sun, Sep 18, 2016 at 09:21:32AM -0700, Ferry wrote:

I haven't tried.  The new kernel isn't useful for me until it handles
both WiFi and Bluetooth reliably, so I'm just waiting on the sidelines
until that seems close.

I have only mini-breakout and Sparkfun boards.

[2016-09-19 07:50] htot commented on #1
That's why I want to get eth working using the smsc95xx. But it seems now I need to get usb working first?

[2016-09-23 12:38] andy-shev commented on #1
Guys, I will check what I can do as soon as I have time slot for this.

[2016-09-23 12:45] andy-shev commented on #2
You have to update U-Boot to at least 2015.05. I suppose the one from here should work (never tested): https://github.com/01org/edison-u-boot/tree/edison-v2016.03 (you may try starting from older one).

P.S. I tried it only in kexec mode. I'm wondering if just U-Boot update is enough to achieve that.

[2016-09-24 05:05] cklin commented on #2
I see.  Thanks for the pointer - though I am a bit reluctant to mess with custom u-boot.  I am confident that I can recover from a bad Linux kernel, but a bad custom u-boot image seems like the kind of problem that can brick an Edison board.

[2016-09-26 07:08] andy-shev commented on #2
At some point I would switch Edison I have access to to new U-Boot and will try x86_64 kernel directly, but this is low priority task. I would appreciate if anyone can do this earlier than me.

[2016-09-30 17:37] amcduffee opened #3 "Intel Edison 8250 serial console not working on Linux 4.7+ kernels"
Hi Andy,

I have attached the kernel config and dmesg log for a mainline 4.6.7 kernel that boots and has serial console output on Intel Edison.

I have attempted to use the attached config as a base for 4.7.0 and newer kernels, but can't seem to get the 8250 serial console to work.

Let me know if there is anything else I can do to help and thanks for taking a look at this!

-Anderson
[dmesg.txt](

[2016-10-19 19:14] andy-shev commented on #3
What about kernel command line? Have you tried just standard one, i.e. **console=ttyS2,115200n8 rootfstype=ramfs**?

[2016-10-19 19:52] amcduffee commented on #3
Yes, the kernel command line I have been using is:
`root=/dev/ram0 rw earlycon=uart8250,mmio,0xff010180,keep console=ttyS2,115200`

With the above command line I get serial console output on a 4.6.7 kernel using the 'edison_config' from my original message.  When I take the same 'edison_config' and use it as a base config for 4.7.0 and 4.8.0-rc8 kernels I no longer get any serial console output.

[2016-10-20 08:10] ghost commented on #1
@htot can you check if the switch is set to correct side? USB Host & peripheral ports are mutually exclusive, so just wondering if you have the switch on the right place or not.

[2016-10-20 14:15] andy-shev commented on #1
@htot `lspci` shows `dwc3-pci` as a driver in my case and I can see devices connected to a host. Also, please check what Felipe suggested.

[2016-10-20 21:11] htot commented on #1
lsusb commands above were done with the switch in the same position.

I'll rebuild the kernel and collect the relevant boot log from journalctl then check back here

[2016-10-25 12:01] andy-shev commented on #1
@ecc1 Do I get correctly that you connected Base board **and** PI board together to Edison?

[2016-10-25 12:13] andy-shev commented on #3
Looks like I may have a clue. At some point I had removed `CONFIG_SERIAL_8250_MID=y` from my config since it's on by default (follows `CONFIG_SERIAL_8250` basically). Try to add that to _i386_defconfig_ and recompile a kernel, or try the most recent one from my **eds** branch (And keep command line part as I pointed out). Besides that be sure that your kernel has this commit: https://github.com/an

[2016-10-25 18:15] ecc1 commented on #1
On Tue, Oct 25, 2016 at 05:01:43AM -0700, Andy Shevchenko wrote:

Yes, I was using a Sparkfun base board stacked with the Pi block for Edison.
The SPI lines, Vcc, GND, and a couple of GPIO lines were connected to a radio
module.

[2016-10-25 23:02] amcduffee commented on #3
I have built a fresh 4.9-rc2 kernel from your 'eds' (21af512) branch.  I used the i386_defconfig from the same branch and verified that `CONFIG_SERIAL_8250_MID=y`.  Using your recommended kernel command line I still do not get any serial console output.

All of my attempts to get a post-mortem dump of `__log_buf` from the u-boot environment have so far failed.  I use u-boot to load the kernel at 0

[2016-10-27 13:24] andy-shev commented on #3
And what address you are using for initrd and how big is it?

[2016-10-27 13:25] andy-shev commented on #1
Looking into schematics I may conclude that they are mutual exclusive, you have to use either one or the other.

[2016-10-27 17:38] ecc1 commented on #1
No, they are intended to be "stacked" one on the other.  Using the base block gives you (for example) console and OTG ports that are not available on the Pi Block.  And I am successfully using such a stack with the 3.10 kernel that Intel distributed with the device.

[2016-10-27 23:35] amcduffee commented on #3
The initrd that I am using is a 24MB cpio.gz loaded at 0x32000000.  The initrd and load offset work just fine for a 4.6.7 mainline kernel and a 3.10.98 kernel built from the official Intel 'edison-linux.git' repository.

In an attempt to narrow down this problem much further I decided to go ahead and git bisect v4.6.7..v4.7 on the official 'linux-stable' repository since the break occurred between

[2016-10-28 11:27] andy-shev commented on #3
Thanks for information. I'm going to update my Edison board to newest official Yocto (in order to get newest possible U-Boot). And after I will try to look at this issue.

[2016-10-28 16:08] andy-shev commented on #1
I see. Unfortunately I'm lack of ideas, only one is left: test power consumption and actual current per rail in both cases (old / new kernel). It might be that you need an additional power source. Since I have no such boards, I can't you help anyhow. And please clarify the subject a) base block. b) PI block, or c) both attached option to reproduce the issue.

[2016-11-04 02:25] zyp commented on #3
Hi, I ran into the same problem, bisected and ended up at the same commit that you did.

After experimenting with different load addrs without any luck, I tried `CONFIG_RELOCATABLE=n`, and now it's booting properly.

[2016-11-04 21:44] kees commented on #3
Can you paste/attach your u-boot configuration? I seems like something is being placed somewhere the kernel isn't expecting and things are getting stomped on. And actually, can you attach the kernel image too? I want to double-check the header to make sure the kernel actually knows how large it is expecting to be after decompression, etc.

[2016-11-05 00:47] amcduffee commented on #3
I am not sure exactly what you are asking for in terms of the u-boot configuration, but here is what is shown on the serial console at boot:

[code]

Here is the 4.7.0 kernel image that doesn't decompress:
[bzImage32-4.7.zip](https://github.com/andy-shev/linux/files/572921/bzImage32-4.7.zip)

[2016-11-05 13:56] andy-shev commented on #3
U-Boot configuration is everything you get in U-Boot console when run `printenv` command.

[2016-11-07 20:33] amcduffee commented on #3
The u-boot environment is the default one that came with the Edison.  I am currently just copying and pasting my own values on each boot until I get a stable configuration worth saving in u-boot.

I have attached the u-boot configuration anyway for reference.
[uboot_config.txt](https://github.com/andy-shev/linux/files/576565/uboot_config.txt)

[2016-11-08 09:20] andy-shev commented on #3
@amcduffee, it can't be default since upstream kernel's (v4.1+) are using _ttyS2_ as a console. Besides that addresses as you pointed out are different. So, can you replace default (it doesn't make sense to look into it) with one you actually tried?

[2016-11-08 21:53] amcduffee commented on #3
I think a bit of confusion might have developed here.  I have left the default u-boot configuration in place so that I have something to fall back to.  However, I am not using the default u-boot configuration to boot the upstream kernels.

From my last comment, I am currently just copying and pasting my own values on each boot until I get a stable configuration worth saving permanently in u-boot.

[2016-11-08 22:02] zyp commented on #3
The stack trace is printed by u-boot, not the kernel, so it happens early enough that the kernel have not set up it's own fault handlers.

I've only tested GZIP decompression and I've seen both behaviors depending on which kernel build I'm trying to boot. I assume that's just a matter of whether the resulting code from the decompression error causes a deadlock or a fault first.

[2016-11-08 23:22] amcduffee commented on #3
@zyp Hmm, that is an interesting point.  I had thought after searching the upstream kernel source that the stack trace was coming from somewhere in `arch/x86/kernel/`, but after just now searching u-boot source as well it looks like you are probably right.  Is there any way to know for sure that the stack trace comes from u-boot?

I am not sure what you mean by this.  When you say both behaviors a

[2016-11-14 22:32] zyp opened #4 "Wi-fi support"
Hi, I'm trying to get wi-fi to work, but I'm having no luck so far. I learned that mainline 4.8 kernel doesn't have the patches to enable the mmc host and regulator for the wi-fi chip, but even the current tip (2cbbee3) of your eds branch doesn't seem to work.

Excerpts from dmesg:
[code]

Modprobing brcmfmac does not result in any output to dmesg.

The first line looks a bit suspect, but I assume

[2016-11-16 02:16] andy-shev commented on #4
@zyp, Everything works, though there is  a limitation: one may not have **sdhci** and **brcmfmac** compiled in the kernel. Try the config I supply with my branch w/o any change.
P.S. In case you need to boot from SD or need it be available earlier, feel free to create an _initrd_ where you load necessary modules and use `pivot_root` to switch /dev/root to a correct one.

[2016-11-16 02:16] #4 closed

[2016-11-18 18:32] andy-shev commented on #1
@ecc1, I saw once today similar issue (with power failure for devices) when I at some point of Yocto shutdown switched USB ID switcher to the host mode from device (cables - USB uart, USB device, power - left untouched). All consequential boots failed the same way you described. What I did to fix it: a) unplugged USB device cable, b) unplugged power cable, c) turned switch couple of times and left

[2016-11-18 18:35] andy-shev commented on #3
I managed to build newest U-Boot, and use now x86_64 kernel directly. Still have not reproduced the issue. Kees, do you have anything in mind?

[2016-11-18 18:37] andy-shev commented on #3
I managed to update U-Boot on Edison board and load x86_64 kernel directly. Still can't reproduce the issue. @kees, do you have anything in mind?

[2016-11-18 18:38] andy-shev commented on #2
Here is the recipe: https://communities.intel.com/message/435516#435516.

<pre>
U-Boot 2016.11-00057-g87bfbd3 (Nov 16 2016 - 15:38:02 +0200)
CPU: x86_64, vendor Intel, device 406a8h
DRAM:  980.6 MiB
MMC:   tangier_sdhci: 0, tangier_sdhci: 1
In:    serial@ff010180
Out:   serial@ff010180
Err:   serial@ff010180
Net:   Net Initialization Skipped
No ethernet found.
Hit any key to stop autoboot:  0
read

[2016-11-18 18:38] #2 closed

[2016-11-18 22:35] kees commented on #3
The only thing I can think of is that where the kernel was being loaded by u-boot was overlapping with something else. I don't see anything obvious. :(

[2016-11-19 14:28] andy-shev commented on #3
@amcduffee, can you share Git tree URL of the kernel you are trying? Or, if it's based on some existing one, commit ID, and your _.config_?

[2016-11-19 15:07] andy-shev commented on #3
So far I tried to boot your _bzImage32-4.7_ on original U-Boot. It fails. Kexec'ing works, so, kernel itself looks fine. Next what I did, I updated U-Boot (perhaps unnecessary step), added **ignore_loglevel** to the command line and boot it again with default (Ostro OS) environment. What I'm seeing here:

<pre>
...
bootcmd_47=ext4load mmc 0:9 ${loadaddr} /bzImage32-4.7; setenv bootargs_console "co

[2016-11-19 15:17] andy-shev commented on #3
So, based on the above, closing the issue for now. Feel free to open a new one with a more particular problem description (serial works, your kernel works).

[2016-11-19 15:17] #3 closed

[2016-11-20 21:26] ecc1 commented on #1
On Fri, Nov 18, 2016 at 10:32:50AM -0800, Andy Shevchenko wrote:

Interesting.  I haven't tried recently, but is there any U-Boot
command that would reset the power system before booting the kernel?
(And neither the Sparkfun or Intel mini-breakout boards have any hardware
switch for USB host mode.)

##

Eric Cooper             e c c @ c m u . e d u

[2016-11-21 22:21] amcduffee commented on #3
Thanks for looking into this and providing an update.  Can you clarify what version of U-Boot you mean by 'original U-Boot' because it might be the version I am still on.  Also, what version of U-Boot did you upgrade to and was it built from your own Edison U-Boot repo here on Github?

[2016-11-21 23:16] andy-shev commented on #3
@amcduffee, original U-Boot is dated back to v2014.04. The newest one I ported, and thus available in my tree here on GitHub, is v2016.11.

[2016-11-22 01:17] amcduffee commented on #3
Thanks.  I can now say with a high amount of certainty that the U-Boot version was the issue here.

I updated one of my Edisons to the newest v3.5 firmware and the U-Boot version stayed at v2014.04.  After noticing this I went ahead and built the newest v2016.11 U-Boot from your GitHub repo and all kernels that were previously not booting are now providing serial console output and booting all the

[2016-11-22 22:42] amcduffee opened #5 "IRQ #54 disabling on Edison 64-bit kernel"
I have built a 64-bit 4.9 kernel from your 'eds' (8624493) branch and shortly after booting all the way to a command prompt I get an IRQ disabled stack trace.

[dmesg.txt](https://github.com/andy-shev/linux/files/607722/dmesg.txt)
[edison64_config.txt](https://github.com/andy-shev/linux/files/607723/edison64_config.txt)
[proc_interrupts.txt](https://github.com/andy-shev/linux/files/607724/proc_int

[2016-11-23 12:57] andy-shev commented on #5
Yeah, I know about the issue. If you are okay not to use DMA for UART, you may try to avoid that. Requires a bit of a hacking code (_8250_mid.c_: comment out `dma_dev = ...` in `tng_setup()` function).

[2016-11-30 16:47] andy-shev commented on #3
Ah, here is the discussion: https://lkml.org/lkml/2016/8/16/7

[2016-12-03 22:49] ecc1 opened #6 "Wifi not detected"
My understanding is that wifi should be working on the Edison, but I'm unable to see the device (I'm using an Intel mini-breakout board).  I've tried with the i368_defconfig and others but I must be missing something.

Can someone post a known-working .config file that boots on a mini-breakout and has working wifi?

[2016-12-05 12:48] andy-shev commented on #6
Please, don't duplicate, though feel free to reopen.
https://github.com/andy-shev/linux/issues/4

I will ask for mini breakout (Currently I'm using only Arduino variant).

[2016-12-05 12:48] #6 closed

[2016-12-07 15:09] andy-shev commented on #4
@ecc1, I have got an Intel Mini-Breakout Board and tried my kernel on it. I see Wi-Fi module is loaded and no other issues. Yes, I have tried x86_64 version for now. Please, tell me if you are using 32-bit one.

[2016-12-07 15:26] andy-shev commented on #4
Just from i686 version from today's eds branch (nothing new except maybe v4.9-rc8):
<pre>
# dmesg | grep -E 'regulator|mmc|sdhci|sdio|brcm|bcm'
[    0.079508] regulator-dummy: no parameters
[    0.128468] bcm43xx-vmmc-regulator: Failed to request enable GPIO96: -517
[    0.128721] reg-fixed-voltage reg-fixed-voltage.0.auto: Failed to register regulator: -517
[   14.988830] bcm43xx-vmmc-regulator:

[2016-12-07 15:28] andy-shev commented on #6
I commented in #4, but basically the recommendation just to start from the config I'm providing. If it works continue with yours stuff. But I can't reproduce the issue with it. So, it **is** a working one.

[2016-12-07 15:31] andy-shev commented on #4
Just notice that *Direct firmware load for brcm/brcmfmac43340-sdio.txt failed* message means one needs to copy calibration file with given name.

[2016-12-07 15:34] andy-shev commented on #4
After calibration file is copied and module is reloaded I have got the following:
<pre>
[  602.360443] mmc2: queuing unknown CIS tuple 0x80 (7 bytes)
[  602.368764] mmc2: queuing unknown CIS tuple 0x80 (6 bytes)
[  602.375799] mmc2: queuing unknown CIS tuple 0x80 (2 bytes)
[  602.383436] mmc2: queuing unknown CIS tuple 0x80 (4 bytes)
[  602.704640] brcmfmac: brcmf_c_preinit_dcmds: Firmware version

[2016-12-07 15:43] andy-shev commented on #1
Okay, I got SparkFun console block and I can reproduce the issue! Will look at it as soon as I will have enough time.

[2016-12-07 16:22] zyp commented on #4
I can confirm that I got wi-fi working after changing sdhci to be built as a module.

It's a slight hassle to have to deal with an initrd though, so it would be nice to fix it so it works even when sdhci is built into the kernel. You're mentioning boot from SD, but sdhci needs to be loaded to access the EMMC too.

[2016-12-07 18:24] ecc1 commented on #4
Having sdhci compiled-in has probably been my problem too.  I'm trying to drop in a kernel in a system that boots from MMC, currently with no initrd, so I'll have to change the boot sequence a bit to test.

[2016-12-08 05:46] VladimirAkopyan commented on #5
Is making a 64 bit kernel relatively straight forward? I've been using Edison for a while, but never had to compile a kernel. We happen to need a 64 bit version.
About this - we do use UART, would it work fine without DMA? Should we expect a fix any time soon?

[2016-12-08 14:26] andy-shev commented on #1
If someone, Eric @ecc1?, can confirm that following code fixes the issue (it's a broken patch, one needs apply it manually):
<pre>
--- a/drivers/watchdog/intel-mid_wdt.c
+++ b/drivers/watchdog/intel-mid_wdt.c
@@ -157,6 +157,7 @@ static int mid_wdt_probe(struct platform_device *pdev)
                return ret;
        }

+intel_scu_ipc_update_register(0x4b, 8, 8);
        dev_info(&pdev->dev, "Int

[2016-12-08 14:31] andy-shev commented on #5
@VladimirAkopyan
1. Yes, you may take my branch and compile as usual. No magic or hidden stuff, just `make x86_64_defconfig && make -j8`. Be aware, you **have to** update U-Boot to boot it directly.
2. It will work fine as far as you okay with CPU performance degradation (since each block between 1 ..FIFO_size / 2 character(s) will require to be served through normal interrupt).
2. My work is unof

[2016-12-08 14:37] andy-shev commented on #4
@zyp, yeah, I know, you need to create a *"trampoline" initrd* which loads modules and switches to an actual rootfs. So many distros are doing this way. That's why I consider this issue as low priority and severity.

[2016-12-08 21:27] ecc1 commented on #1
No, this does not fix the issue (booting your i386_defconfig on a Sparkfun Base Block):
[code]

I don't have an initrd set up to load mmc yet, but I assume that would fail -- it did when it was compiled into the kernel, with these errors:
[code]

[2016-12-09 11:48] andy-shev commented on #1
I have just sent you a patch. Please, apply it on top of my eds branch and try again. In any case send me back **full** dmesg log, not only some parts of it.

[2016-12-09 18:56] ecc1 commented on #1
I will try that.  I haven't gotten an initrd to work properly yet (do you have a pointer to one that works?  I've been trying to use mkinitramfs on Debian). Will it matter if I try it with mmc compiled into the kernel?

[2016-12-15 23:11] andy-shev commented on #5
It seems I found a root cause. But let me test this better and I will submit patches to my branch soon for getting more tests from you.

[2016-12-16 17:42] andy-shev commented on #5
So, I just have updated my branch. Will very appreciate broad testing!

[2016-12-16 17:50] VladimirAkopyan commented on #5
Cool! thanks. I've never built a kernel before, but i'll look into it and see how far I can get

[2016-12-16 23:01] htot commented on #5
I would like to try. But I need to know how toggle gpio mmapped on the Edison Arduino board, then remove mraa from my code. Any hints?

[2016-12-17 03:15] amcduffee commented on #5
@andy-shev I don't see anymore IRQ #54 traces in my initial checks of the new 64-bit kernel, but have only looked briefly.  I will do a more lengthy test next week.

[2016-12-17 04:38] andy-shev commented on #5
@htot, from this I barely understand what is the issue you try to resolve? Better if you provide some piece of code. And either https://communities.intel.com/community/tech/edison or https://stackoverflow.com/questions/tagged/intel-edison would be more suitable for such discussion.

[2016-12-17 04:38] andy-shev commented on #5
@amcduffee, will wait for you comprehensive tests, thanks!

[2016-12-20 23:41] htot commented on #5
@andy-shev https://github.com/htot/hs_uart I need to toggle to 2 gpio pins to a get trigger for the oscilloscope. I am using mmapped to prevent large delays (reduces from 50us to 2 us, relevant when transmitting at 2Mb/s). So need to replace all mraa stuff to be able to test with your kernel. I am particularly interested to test if transmission has the same transmission interchar gap every 45 msec

[2016-12-21 01:01] andy-shev commented on #5
@htot, got it! So, you just need to use **sysfs** directly or, if it somehow ready, newly provided character device with associated IOCTLS. Here are the links to get a clue: a) [sysfs interface](https://www.kernel.org/doc/Documentation/gpio/sysfs.txt), b) [GPIO user space tools for character device (state of progress unknown)](http://lxr.free-electrons.com/source/tools/gpio/)

[2016-12-21 08:20] htot commented on #5
@andy-shev Thanks, so you say I could also dig through the mraa source code and use that as an example from here https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_edison_fab_c.c? That has the lines at the top:
// This is an absolute path to a resource file found within sysfs.
// Might not always be correct. First thing to check if mmap stops
// working. Check the device for 0x1199

[2016-12-21 13:00] andy-shev commented on #5
@htot, zOMG, I didn't realize that mraa is **SO** ugly! Mentioned device is GPIO controller. sysfs priovides standard ABI to communicate with (including all GPIO expanders that found on Edison/Arduino). OTOH pin controller stuff is not available in the user space. I would expect we can do the proper way to use it whenever we will switch to ACPI as resource provider on Edison (U-Boot).

[2016-12-21 21:18] htot commented on #5
@andy-shev Right now the quick-and-dirty way would be good enough for my testing :-)

[2016-12-27 19:06] amcduffee commented on #5
@andy-shev This issue appears fixed to me.  Before the holiday weekend I spent about 20 minutes generating activity on the console without any IRQ 54 stack traces appearing.  I also left the Edison module up over the weekend and after ~5 days of up time the dmesg log is still clean.

[2016-12-28 09:27] andy-shev commented on #5
@amcduffee, cool! So, based on your test I close this issue, thanks!

P.S. Nevertheless, please try to run several times something like
`dmesg > /dev/ttyS1` (before doing that, set the higher baud rate on the port `stty -F /dev/ttyS1 921600`).

[2016-12-28 09:27] #5 closed

[2016-12-28 20:55] amcduffee commented on #5
I guess maybe I should have explained how I generated activity.  I was using Minicom to run various commands (dmesg included) that generate a decent amount of text output.  Since I was using Minicom the stdout, of the commands, was going over ttyS2.

Anyhow, I have now also checked the following speeds: 115200, 230400, 921600 and 2000000.  All of them are working as expected.  Also, just for fun I

[2016-12-29 00:08] VladimirAkopyan commented on #5
Amazin!

[2016-12-29 11:49] andy-shev commented on #5
@amcduffee, yes, thanks! But please check with **/dev/ttyS1**. It's indeed important to me.

[2017-01-03 14:34] andy-shev commented on #4
Just for reference [the discussion about regulator framework issue](http://www.spinics.net/lists/kernel/msg2333536.html) in case of Edison. It would be fixed either by switching to ACPI, or by patching the framework if anyone provides a such. I would prefer a), i.e. switching to ACPI, and thus will not go to spend my time to fix the regulator framework code, though I could help anyone who will try

[2017-01-16 07:20] sandeep-mvd opened #7 "How to use yocto build for intel eds branch?"
Hi,

How can i use eds branch in the yocto environment of intel edison.
The current recipee is using 3.10 kernel. I just replaced the git repository and the branch to use eds branch and it fails to build.
Is there a standard way how I should use this branch on yocto environment? If not, I will try to put my debug information here.

Thank you!

[2017-01-16 08:06] dislick commented on #7
I would love to know that as well, thank you for your work @andy-shev.

[2017-01-17 20:19] andy-shev commented on #7
I would try to understand how to do that in the future when I have free time slot. Never used Yocto before.

[2017-01-23 00:51] PieterGit opened #8 "Problem accessing GPIO pin 23 (SPI) on an Explorer board"
Hi @andy-shev

I am trying to get a TI CCxxxx chip working on an Intel Edison Explorerboard (see https://github.com/EnhancedRadioDevices/915MHzEdisonExplorer ) with your eds branch 4.10rc4.

I now have the `/dev/spidev5.1` file and I also have a `/sys/class/gpio/export` file
[code]

Unfortunately accessing the GPIO pin 23 fails, e.g.:
[code]

This works fine on a Yocto image. Can you explain why I

[2017-01-23 15:02] egorf commented on #7
Hi!

This recipe is based on the latest official image sources. Unfortunately, Intel's configuration step is a small hack, but otherwise will work OK.

To use it:

* Find the original `linux-externalsrc.bb`.
* Replace its contents with the ones I've added below
* In the `do_configure` change the `meta-xxxx-xxxx` to whatever is your location of the kernel recipe
* Copy Andy's `i386_defconfig` to th

[2017-01-23 15:06] andy-shev commented on #7
Guys, can we move this issue to **meta-acpi** repository (I recently forked one)?
I dunno how to exactly move the issue, if someone knows, let me know.

[2017-01-23 15:17] andy-shev commented on #8
Indeed, my kernel configuration doesn't have GPIO_SYSFS enabled.

Regarding to a log on the link I might give a hint: GPIO export works exactly how it's designed in upstream kernel. If *libmraa* doesn't support a **standard** way of doing things it should be fixed.

For me it looks like a completely problem of *libmraa*. I never used that library and never will.

By the way, I used an example to s

[2017-01-23 15:26] andy-shev commented on #8
Indeed, my kernel configuration doesn't have GPIO_SYSFS enabled.

[2017-01-23 15:42] andy-shev commented on #8
Okay, I got what's wrong. Thanks for report.
**UPDATE**. The problematic set of GPIOs is Family 7 (I2C, 14 pins). They are located in secure block in FLIS and this requires special write access to them. Upstream solution would be ready in v4.12-rc1. It's not a big deal, but it requires to do some infrastructure changes. I will look what I can do sooner.

[2017-01-23 21:39] andy-shev commented on #7
Got an answer from tech support that there is no such feature. Please, reopen this bug in **meta-acpi** repository. I'm about to enable issue tracker there.

[2017-01-23 21:39] #7 closed

[2017-01-23 22:53] PieterGit commented on #8
@andy-shev : That would be great!
I didn't know linux kernel planning for 4.12-rc1 already exists.
Thanks for your looking into the problem. If there is anything I can test or debug, please let me know.
A lot of diabetes users of openaps will be very happy with such as a solution, because it can let openaps control their insulin pump. Thanks in advance.

[2017-01-24 02:48] VladimirAkopyan commented on #8
U guys use it for insulin pumps? Holy cow, and I thoughts controlling a greenhouse is risky cause I might ruin some salad...

[2017-01-24 13:33] andy-shev commented on #8
Hold on, I just checked schematics and there is no such GPIO available to the user. Even for the rest 4 pins (I2C1 and I2C6) there is no possibility to switch their mode to something else (in original Edison BSP).

So, back to square 1, i.e. these are clearly 2 bugs: a) official Edison BSP is buggy, b) *libmraa* is crap.

P.S. But thanks for report anyway, I found one (minor) bug in the code becau

[2017-01-24 13:33] #8 closed

[2017-02-07 14:42] vpelletier opened #9 "[Feature Request] Edison: Battery level reporting"
I see you are working on the power button lately. If I may suggest a likely-related (on which-chip-does-what level) feature I would like to see working on the edison, it is getting battery level and power source information. I believe these come from the TI-developed, Intel-specific, specs-unavailable PMIC.

[2017-02-08 12:23] andy-shev commented on #9
It's out of my scope, but what we can do is a collaboration in the way you port forward a cleaned version of the feature from official repository. I would answer to (some) questions related to PMIC. Would it be suitable for you?

BTW, I have SparkFun battery block I can run some tests on.

[2017-02-09 13:42] vpelletier commented on #9
Yep, fine for me, thanks for the collaboration offer ! I should have time to work on this this week-end.

[2017-02-10 21:55] PieterGit commented on #9
@vpelletier :  this has been done under Yocto as well, see https://github.com/cjo20/EdisonVoltage
Might be usefull for you.

[2017-02-11 10:25] andy-shev commented on #9
Okay, from that we can conclude we need to have ADC driver for PMIC.

[2017-02-11 14:48] vpelletier commented on #9
I started reading drivers/power/intel_mid_battery.c from 01org's edison-linux, but I now see this was removed here, with a commit message stating it was a leftover from Morestown.

This, plus the (very interesting) report from @PieterGit makes me less sure of what I actually have to move around: I kind of expected something like the code I read from above driver, plus maybe some standard way of re

[2017-02-12 05:42] vpelletier commented on #9
Porting commits, in the original initialisation code I find `register_rpmsg_service` (comming from intel_mid_remoteproc). There does not seem to be other uses of this in current code. How should I proceed for this ?

[edit] Actually, reading more of the code, it seems the rpmsg is only used as a way to load the device, the only (?) messaging function only complaining when called. So I'm getting co

[2017-02-12 08:20] vpelletier commented on #9
I pushed a [first patch stack](https://github.com/vpelletier/linux/commits/eds_4.10-rc7).

On the revision tracking side of things, I cherry-picked the commits from 01org/edison-linux branch edison-3.10.17, removed the pieces which were irrelevant but kept the original commit messages & sign-offs. Then I started my changes in a separate commit.

On the code side of things, the module does not get

[2017-02-12 09:25] andy-shev commented on #9
Actually v3.10.98 is latest official base. Does it work there? If so, we need best from them (either v3.10.17, or v3.10.98).

[2017-03-25 12:58] PieterGit commented on #9
@vpelletier : did you manage to get any further with this issue?

[2017-03-25 14:41] vpelletier commented on #9
@PieterGit : My work so far is on [my fork](https://github.com/vpelletier/linux/commits/eds_4.11-rc3), where I create new branches based on @andy-shev's eds branch from time to time to work on this.

The work is not finished yet. It is basically functioning, but is not at the right quality level to be upstreamed, and some channels are not always refreshed (there is a suspicion around IRQ handling

[2017-03-26 09:35] andy-shev commented on #9
Besides above Hans de Goede is doing a lot of work regarding to CherryTrail PMICs, such as Whiskey Cove and he also pointed out to design flaw in support of that PMIC for Broxton. I suspect that all upstreamed PMIC drivers are affected and need to be redesigned. Thus, @vpelletier 's approach needs to be reviewed more carefully.

[2017-04-05 05:48] PieterGit commented on #9
@andy-shev and @vpelletier also the jubilinux efforts might be usefull for getting the voltage stuff working. See https://github.com/jubilinux/edison-linux-helper (@esialb is working on that)

[2017-04-05 20:11] andy-shev commented on #9
@PieterGit thanks for information, unfortunately it is unrelated to newer kernels.

[2017-04-06 00:13] esialb commented on #9
@PieterGit many thanks for the plug, but I'm no kernel developer.  Most of what I've done regarding the edison-linux kernel is make it easy to build, including updating dfu images.

[2017-04-13 19:23] tsaubergine opened #10 "USB host on Edison"
Hi -

I can get HEAD of https://github.com/andy-shev/linux/tree/eds to boot fine, but USB doesn't seem to work correctly as host (even with an OTG cable and several devices that work using the Intel supplied 3.10 kernel).

Is this a known limitation? If not, what driver is used for the USB on the Edison. xhci loads automatically for this kernel.

[2017-04-15 12:28] andy-shev commented on #10
I'm using Edison/Arduino board and don't have such issues. Do you use the same configuration?
The driver in use is dwc3-pci.

[2017-04-17 20:15] tsaubergine commented on #10
No, I'm using the mini-breakout: https://www.sparkfun.com/products/13025

Could you point me to a working defconfig that you're using?

[2017-04-18 11:36] ghost commented on #10
The reason is probably because upstream doesn't have support for the OTG block in DWC3. There are people working on it, but it's not ready yet. When you have the physical switch, then it's easier as we can force a port to host/peripheral based on the switch state. Without the physical switch, then we need the OTG interrupt which we're not using yet.

This is, BTW, a guess at this point. I haven't

[2017-04-18 12:39] tsaubergine commented on #10
Thanks, that guess is helpful. I'll get an Arduino board and see what I can learn.

[2017-05-03 19:32] iracigt commented on #10
I had similar issues with the Edison Arduino board that appeared to stem from a pin responsible for for controlling the onboard 5V regulator not being enabled. We built our own board that did not use this pin and USB works fine. I've done some digging in the SFI tables in an attempt to find the GPIO pin responsible, but have come up empty handed. For reference, the pin in question is PSW, pin 21 o

[2017-05-03 19:39] andy-shev commented on #10
@iracigt
<s>I'm pretty sure that pin is connected to</s> PMIC (Basin Cove). We have no driver for it in upstream (only power button is supported),

[2017-05-07 15:20] htot opened #11 "Feature request: branch of eds after each linux release"
Hello Andy,

I am working to update meta-intel-edison to poky morty and to incorporate your u-boot and linux repositories. That will hopefully encourage more people to upgrade to your kernel. The good news that it already builds kernel, u-boot and root-fs images! Now I need to prepare to flash and check that it actually boots, so I can upload that work to github.
It would be nice if the resulting

[2017-05-08 12:32] andy-shev commented on #11
You may start just from v4.11 vanilla. My branch has only bluetooth on top of it (which will be part of v4.12-rc1). So, I won't do any tags — use vanilla directly!

P.S. If you need patches, just use vanilla and necessary patches in your meta-layer.

[2017-05-08 12:32] #11 closed

[2017-05-08 18:55] htot commented on #11
Alright, fair enough. I'll create branches myself then while tracking your repo. And put features that you are not providing by default (usb ethernet driver, ftdi serial driver) in patches in the meta-layer.

[2017-05-08 20:02] andy-shev commented on #11
Yes, it would be best choice for you! v4.11 vanilla is quite functional on Edison, and you may take as a base. Two patches (that as I said will be part of v4.12-rc1) willenable Bluetooth. Everything else it's your own configuration and stuff.

On the contrary U-Boot repo has tags and I'll continue that until minimum support will be there in upstream.

[2017-05-18 21:30] htot opened #12 "4.11 does not load rootfs from mmc"
I have the u-boot edison-v2017.05 and built the 32bits 4.11 version of the kernel, loaded that to the FAT formated part 9 and used:
[code]

The kernel boots fine up to the point:
[    2.432544] md: Waiting for all devices to be available before autodetect
[    2.439398] md: If you don't use raid, use raid=noautodetect
[    2.446107] md: Autodetecting RAID arrays.
[    2.450279] md: autorun ...
[

[2017-05-22 16:21] andy-shev commented on #12
Hmm... I remember I tried once to do such, though I don't remember results. When I have time to check I will inform you here. Not much time for this anymore, sorry.

[2017-05-22 21:13] htot commented on #12
Yes, I believe you explained me before I need an initramfs, load some drivers, mount the real rootfs and then switch_root.
Today I managed to build such an initramfs. I only included mmc_block and mmc_core, using your exact kernel (configs and all, as it was when 4.11 was released).  I modprobed these manually but didn't see anything appear with dmesg. I don't have systemd (dont know if I need tha

[2017-05-22 21:40] htot commented on #12
It's my lucky day.  I have yocto building your kernel and create .deb packages. It then installs these to the initramfs. I was missing - of course - the sdhci modules. The module packages installed into the rootfs now are: `"kernel-module-mmc-block kernel-module-mmc-core kernel-module-sdhci kernel-module-sdhci-acpi kernel-module-sdhci-pci"`

That changes everything:

[code]

[code]

[code]

`  29

[2017-05-22 21:40] #12 closed

[2017-05-25 22:59] htot commented on #4
andy above you mention that you need to copy the calibration file brcm/brcmfmac43340-sdio.txt. Where do you copy that from?

[2017-05-26 09:11] andy-shev commented on #4
You may take it from Yocto, or from existing stock image (*/etc/firmware/* as far as I remember).

http://git.yoctoproject.org/cgit/cgit.cgi/meta-intel-edison/tree/meta-intel-edison-bsp/recipes-kernel/bcm43340/bcm43340-fw.bb

(Check for _*.cal_ files there)

[2017-05-26 09:41] htot commented on #4
That recipe installs 2 cal files (bcmdhd_aob.cal and bcmdhd.cal) and 1 bin. So I guess it is one of those cal files and it needs to be renamed?

[2017-05-26 09:48] htot commented on #10
@andy-shev I'm using a Edison Arduino with your kernel and it loads the xhci driver, not the dwc3-pci. Afaik both are built-in the kernel. How do I get it to use the right driver? Kernel command line option?

[2017-05-26 11:21] htot commented on #10
@andy-shev So, I may be using the wrong driver and maybe the PSW pin has something to do with this.

But I solved my issue (partly). I am using an evaluation board for the smsc95xx (usb +eth hub). It has a jumper to select bus powered or self powered. I always have it self powered with external power adapter. Now switched to bus powered, and all the leds go on, eth works, usb stick appears. I don'

[2017-05-26 14:14] htot commented on #10
@andy-shev It probably is caused by the PSW pin. I checked the schematics for the EVB9514, it has 2 jumpers: JP1 selects the source of power from either ext or bus. JP22 select the VBUS_DET to sense the bus supplied VCC, or tied to the boards 3.3V. I am now using the combination for permanently connected self powered hub, supplying from ext and disabling VBUS_DET. That means the hub will not see p

[2017-05-27 01:26] mc0rn commented on #10
I worked around this by porting the USB PHY fix from the original edison linux code. Host mode works great on both the Intel Arduino and Mini Breakout boards running 4.12-rc2.

https://github.com/01org/edison-linux/commit/52b32b192a78de8f1715005bcb6fb4cb928f1e48

[2017-05-27 11:27] andy-shev commented on #10
@felipebalbi
Felipe, what do you think about mentioned change? Can we upstream something like that?
@mc0rn
Care to send me a pull request, so I will incorporate this into my branch for now?

[2017-05-27 16:35] htot commented on #10
@andy-shev In the mean time, I'm sure there must be workaround :-) How else did you test the USB else than plugging a USB stick which would need power from the Edison? Can we access the pin from user space?

[2017-05-27 20:32] andy-shev commented on #10
We have USB hub connected to the board with USB memory stick and network card.

[2017-05-27 21:42] htot commented on #10
I see, similar situation then. My SMSC eval board set us back €200, almost double the price of the Edison Arduino. The chip itself goes for €2. Rip off.

I'll make the Yocto recipe apply the patch on top of your kernel for now.

[2017-05-31 21:43] htot commented on #12
I fixed my initramfs init script and my rootfs boots nicely (well with a small hickup as it expects nfsd, but the kernel module is not enabled in defconfig). Wow

[2017-05-31 22:14] htot commented on #4
I think I understand:
bcmdhd.cal is for country code ALL
bcmdhd_aob.cal for FR, it think it disables 5G, not sure.
According to this doc http://download.intel.com/support/edison/sb/edison_wifi_331438001.pdf should not be present, maybe it's obsolete.

With both the firmware (bin) and bcmdhd.cal file renamed, wifi works nicely on both 2.4G and 5G. This of course when booting using initramfs with mm

[2017-06-25 18:24] htot opened #14 "ttyS1 on edison_arduino won't work (linux 4.11)"
I have tried this with `screen /dev/ttyS1 115200` (running on edison) and with a small program that writes 65 bytes out and reads back whatever is in the buffer (currently read exactly 0 bytes).  I have RX and TX looped back of course.

External driver direction set with:
[code]
I can not set direction on 130/131 as that claims them for gpio, so I assume hsu driver take care of pinctrl and pinmux

[2017-06-25 18:47] andy-shev commented on #14
I'm travelling right now, so, let me check this lately.
Pay attention that EOL is defined for the Edison, so, this kind of tasks now are at lowest priority.

[2017-06-25 18:55] htot commented on #14
Yes, the EOL for the boards (breakout/arduino) doesn't surprise me, but for the compute module and no alternative announced really pisses me off.

[2017-06-27 21:11] htot commented on #14
The problem in the end was caused by my script where I had disabled the final TRI_STATE_ALL = high (due to enumeration problems I had earlier).

Note to self:

TRI_STATE_ALL controls the INH pin on the 74LVC2G53 analog multiplexers, but also cuts power to the 74LVC1T45 level translators (by the V_SHIELD_SW signal, a global, and if I may say so, the use of globals in schematics is just as despicabl

[2017-06-27 21:11] #14 closed

[2017-06-28 13:32] iracigt opened #15 "I2C-6 Doesn't Work"
As was previously mentioned on the [Intel forums](https://communities.intel.com/message/473581#473581), i2c-6 doesn't work with the newer kernels because it requires setting the pin mux. Intel had previously exported this functionality through a (somewhat clunky) debugfs interface that worked with the old version of the GPIO driver included with the official 3.x kernels.

For a project I'm working

[2017-06-28 19:59] htot commented on #15
I have been checking how much work it would be to port mraa to newer kernels. In mraa's edison platform code I stumbled into [https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_edison_fab_c.c  line #127](https://github.com/intel-iot-devkit/mraa/blob/master/src/x86/intel_edison_fab_c.c). Here it is attempted to change the pinmux using `SYSFS_CLASS_GPIO "/gpio%i/pinmux"`, which doesn

[2017-06-30 18:16] andy-shev commented on #15
The patches are in my tree, though I didn't make them working. You may try to amend them. Though, I'm not going to upstream them by few reasons, main of which is badly prepared firmware. We might fix this via U-Boot nevertheless.

[2017-06-30 18:16] #15 closed

[2017-07-01 11:25] htot commented on #15
Looks like everything is in place and only needs to be set when the i2c driver is probed. Correct?

[2017-07-07 15:33] tsaubergine commented on #10
I see that some of these changes have been merged into the latest 4.12 kernel. I tried building this (d88fa47004f0aa7f6290bc8b9665e356a1cd4f5b) but still have no success with USB. Now I don't even have any usb devices (not even the root) in /sys/bus/usb/devices.

If someone has this working with the mini-breakout (@htot?), I would love to have a commit hash and .config that works. Thanks!

[2017-07-07 17:12] htot commented on #10
No, I don't have the mini breakout. I did backport the patch (https://github.com/htot/meta-intel-edison/tree/morty/meta-intel-edison-bsp/recipes-kernel/linux/files) to Andy's 4.11 kernel (that you can find in my linux/eds-4.11 branch) and it works for me. But tested only on the Edison Arduino board. I branched eds-4.12 but need to check if I can now drop the patch and test if all still works.

[2017-07-08 16:32] htot commented on #10
@andy-shev Same here, with [d88fa47](https://github.com/htot/linux/commit/d88fa47004f0aa7f6290bc8b9665e356a1cd4f5b) there seems to be no usb. And

`journalctl -b | grep -i dwc
`

returns nothing. But

`root@edison:~# cat /sys/kernel/debug/dwc3.1.auto/mode`
`device`

Not sure if that is correct. Do I need something on the kernel command line to get dwc3 in the right mode?

[2017-07-08 21:16] andy-shev commented on #10
I think one needs to enable PHY in the config. (TI USB12xx?). But best way is to bisect.

[2017-07-10 14:30] tsaubergine commented on #10
Pardon my ignorance, but I don't know what you mean by "best way is to bisect".

[2017-07-10 15:01] andy-shev commented on #10
@tsaubergine
I'm referring to `git bisect` command. It does in O(log<sub>2</sub>(N)) approach to find the culprit commit if there __was__ a working point.

[2017-07-10 20:12] htot commented on #10
Acc. @mc0rn it worked at 4.12-rc2. Only 3294 commits since then (minus your 40), needs up to 12 bisects.

I tried adding:

`CONFIG_GENERIC_PHY=y`
`CONFIG_PHY_TUSB1210=y`

to defconfig, but no luck.

Could it not be that dwc3 needs to be put in host or otg mode (now device)? But when I do:
`echo host > /sys/kernel/debug/dwc3.1.auto/mode`
I get:
[code]

[2017-07-10 23:39] mc0rn commented on #10
I just checked out and compiled Andy's eds branch and host mode works on the Intel Mini Breakout, Intel Arduino and Sparkfun base board.

I also checked mainline 4.12 kernel with the same config and it didn't work on any.

Are you looking for host mode only (which this patch fixed) or to re-configure between host,otg on the fly?

[2017-07-11 00:29] tsaubergine commented on #10
@mc0rn: could you post or link to your config? I didn't have success with the arch/x86/configs/i386_defconfig at Andy's eds branch.

I only need host, not OTG.

Thanks!

[2017-07-11 01:39] mc0rn commented on #10
@tsaubergine  Here you go
[32bitconfig.txt](https://github.com/andy-shev/linux/files/1137505/32bitconfig.txt)

[2017-07-11 07:22] htot commented on #10
@mc0rn do you mean that you checked out  [d88fa47](https://github.com/andy-shev/linux/tree/d88fa47004f0aa7f6290bc8b9665e356a1cd4f5b) without any additional patches / changes to the config? Because that is what I do and is not working on the Arduino.

[2017-07-11 10:03] mc0rn commented on #10
d88fa47 but changed the config for DWC3 USB host mode only.

CONFIG_USB_DWC3_HOST=y

[2017-07-11 20:36] htot commented on #10
Thanks, that makes sense, I'll try that tomorrow.

[2017-07-13 20:40] htot commented on #10
@mc0rn Thanks that worked, thanks.
Acutally I created 2 (what yocto calls) fragments:
[code]
and
[code]
These are generated by yocto's menuconfig scheme. The first was suggested by Andy, I don't know if that is needed, but it doesn't harm. The 2nd worked. I will commit after some testing, possibly tomorrow.

PS you do know your config above has quite a few differences with Andy's when you do a dif

[2017-07-14 10:32] floion opened #16 "Kernel won't boot"
Hi guys,
I am using git://github.com/htot/linux.git , branch eds-4.11 which should be pretty much the same kernel as the one from this repo.
However, the kernel won't boot. It just hangs at "Starting kernel ..." forever.
Has anybody seen this with this kernel?
I am currently building this repository here also and giving it a try also
Thanks

[2017-07-14 11:00] floion commented on #16
Just tried with d88fa47004f0aa7f6290bc8b9665e356a1cd4f5b and I get the same thing

I have

but there's nothing printed after "Starting kernel ..."

[2017-07-14 11:01] floion commented on #16
@andy-shev have you ever seen this?

[2017-07-14 11:57] floion commented on #10
@htot how did you force loading of the dwc3-pci driver? Did you deactivate xhci altogether?

[2017-07-14 13:57] AurelienBallier commented on #16
Use: console=tty1 console=ttyS2,115200n8 loglevel=7

[2017-07-14 14:03] floion commented on #16
Thanks @AurelienBallier , I have eyes now :)
So the tty has changed for this kernel? I was expecting ttyMFD2 to be exposed as the console still. Doesn't matter too much if it is not exposed anymore.
I can now see the subsequent error. Time to fix the fstab

[2017-07-14 14:09] AurelienBallier commented on #16
Yes serial interfaces have "standard" names now ttyS0, ttyS1 and ttyS2.

[2017-07-14 14:10] floion commented on #16
I see, thanks for the info

[2017-07-14 14:25] htot commented on #10
I had problems initially with the usb driver, but these were caused by not having updated U-Boot by Andy's version. After the update, this worked fine until breaking as described above and now fixed again.

If you use my layer to build the kernel, you will build a kernel with initramsfs built-in. If you don't want to build/boot the rootfs on the sd card, instead of switch root you can just remain

[2017-07-14 19:02] andy-shev commented on #16
Thank you @AurelienBallier for taking care about the issue. Closing as invalid based on help given.

[2017-07-14 19:02] #16 closed

[2017-10-14 19:33] svenschwermer commented on #15
Hi! I spent some time and figured out a way to make i2c-6 work, see https://svenschwermer.de/2017/10/14/intel-edison-i2c6-with-vanilla-linux.html

[2017-10-14 23:03] iracigt commented on #15
Thanks for the link! Turns out I went down the same path last week and finally got it working too. I ended up creating an small module that just requested the pin muxing I wanted and loading that. It's more complicated, but had the advantage of allowing the I2C drivers to be present at boot and for the kernel to find the GPIO expander we're using at boot. I'll try to get my code up soon, though fo

[2017-10-15 11:23] svenschwermer opened #17 "SST probe error"
Hi! When setting `CONFIG_SND_MFLD_MACHINE=y` the kernel tries to probe the SST PCI device `intel_sst_probe`, but fails in `sst_context_init` because platform data (`pdata`) is not set in the driver context. I guess, this needs to be done by a platform driver (sst-mfld-platform-pcm maybe?) or by a SFI driver (matching `mrfld_sst`) perhaps. I see that the platform data is being set in sst_acpi.c but

[2017-10-15 15:19] andy-shev commented on #17
Unfortunately I have been having no time to continue SST enabling. What I heard is there is an activity to bring SOF (Sound Open Firmware) support to the drivers soon. It will change the driver structure as well.
So, I would recommend to look into that direction.

The best people to ask are Liam and Pierre from Intel who are doing ASoC stuff. (You may find them in alsa-devel@ mailing list)

P.S. A

[2017-10-15 17:24] svenschwermer commented on #17
Alright, I'll look into that direction. I'd seen this entry in the MCRS provided by u-boot so I thought I would ask:
[code]

[2017-10-15 18:31] andy-shev commented on #17
Ah, without that one you didn't get device enumerated at all, but it doesn't describe device per se.

[2017-10-15 18:34] andy-shev commented on #17
By the way I would recommend to find most closest hardware (laptop) and acquire DSDT table from it. Then some bits can be used to create an excerpt for Merrifield (ASuS T100 or alike perhaps).

[2017-11-17 13:32] floion opened #18 "eds branch changed?"
Hi,
we are using this kernel and been using this revision: 54f9552249b720ef9d33a7eb9e0d1f8f53ce1025
However, today I see this revision is not in the git tree anymore. Was there a git rewrite on your side?

Thank you

[2017-11-17 14:00] floion commented on #18
Apparently there was a git rewrite due to some change (merge ? ) and now kernel is 4.14.
We were relying on 4.13

[2017-11-17 14:02] floion commented on #18
Will every merge with the vanilla kernel make this sort of git re-write?

[2017-11-17 15:06] htot commented on #18
Hello @floion Andy rebases (I think currently only if he has time) each release candidate. That breaks your reference to commit number. To prevent that from happening I pull from him on each kernel release and create a branch. You will find what you need here https://github.com/htot/linux/tree/eds-4.13 (currently 4.11 - 4.14)

[2017-11-17 15:08] htot commented on #18
I am not adding my own commits on top of these, instead put my own modifications as a fragment in the recipe.

[2017-11-17 16:12] floion commented on #18
Thanks @htot

[2017-11-17 19:59] farfromrefug commented on #15
@iracigt could you share your code? We are looking at doing the same thing. What is what you call a gpio expander? Cause may be we could use that too if you are willing to share. Thanks

[2017-11-18 20:08] andy-shev commented on #18
Since the minimum needed for Edison to work is in vanilla (starting from v4.12) I'm rebasing only to official releases. @htot is right, the best approach is to use whatever base you want (v4.13 for example) and take patches on top of that if needed. Just a side note, that my tree is an experimental field for the stuff. No one should rely on the content of it. Thanks for understanding.

[2017-11-18 20:08] #18 closed

[2017-11-18 21:04] floion commented on #18
Thanks for the input

[2017-11-20 09:05] htot commented on #18
So, if you are using Yocto you could either take an official vanilla kernel and add the 40 or so patches from Andy + your own as kernel fragments. Or you take the branch you need from my repo which are just a snapshot of Andy's after each kernel release and add your own kernel fragments to that. My snapshots don't get rewritten and I just keep them there so my recipe doesn't break and I can easily

[2017-12-12 17:09] farfromrefug opened #19 "unloading SDIO kernel module"
Recently i stumble upon the issue where some Edison GPIOs where could not write on them because they were reserved for the SD:
https://communities.intel.com/thread/77677

I know i can compile a kernel without that module. But i would prefer to be able to unload /load it at runtime.
I don't enought about kernels to actually know where to look to see if this kernel allows this.
Can you guide me?

Th

[2017-12-12 17:14] andy-shev commented on #19
So, the kernel allows user to *unload* module (means that *all* devices will be gone which are supported by the driver in question) if there is no active user (of *any* of them), or *unbind* certain device from the driver — condition is the same, no active user of it.
There is a good article to start with if you are interested in the latter mechanism https://lwn.net/Articles/143397/

[2017-12-20 10:23] floion commented on #15
Hi @andy-shev @htot is uboot now doing this pinmuxing?

[2017-12-21 10:35] andy-shev commented on #15
@floion
Nope. We need a volunteer who can do this.

See Sven's comment above how to enable it in Linux.

[2017-12-21 10:38] floion commented on #15
Thanks for the follow-up, Andy.
Using Sven's patch at the moment for enabling i2c-6. I guess we will need do the same for other pinmux'ing we want?

[2017-12-21 10:42] andy-shev commented on #15
@floion Not same for sure. I2C is just special, other muxings can be done in usual way via pin control lookup tables.

[2017-12-22 20:36] alext-mkrs commented on #15
I'd be glad to volunteer, just need to finish some current project, that'd take me about a week or two from now and if no one does this by then I'll bite.

[2017-12-22 23:47] htot commented on #15
@andy-shev What would be an upstream-able solution for this? Do you have any ideas?

[2017-12-27 21:49] htot opened #20 "Bluetooth broken on 4.14"
Looks like bt support broke in 4.14. I now get:
[code]
If I remember correctly for sure in 4.12, maybe also 4.13.

[2017-12-28 09:40] andy-shev commented on #20
Can you revert *commit 276c87054751 ("x86/platform/intel-mid: Make 'bt_sfi_data' const")* and check if it works again?

[2017-12-28 09:45] andy-shev commented on #20
For the reference: https://github.com/htot/meta-intel-edison/issues/13
For the reference: [x86/platform/intel-mid: Revert "Make 'bt_sfi_data' const"](https://www.spinics.net/lists/kernel/msg2685006.html)

[2017-12-28 12:07] andy-shev commented on #20
One more thing: there is new dependency to Serial Device Bus, which needs to be selected by `CONFIG_SERIAL_DEV_BUS=y` in kernel configuration. I'm going to update my **eds** branch with above fixes.

[2017-12-28 14:26] htot commented on #20
Could it be we need a fragment:
[code]

[2017-12-28 15:20] htot commented on #20
I discovered your patch e6a575bcc32b621f107f1ac0c87e69154c787ab7 to late. The fragment above is suggested by menuconfig. Not sure why it is different, but it seems to enable the configs you need and a bit more (more than needed?). Starting bt gives:
[code]

[2017-12-28 16:30] htot commented on #20
Your suggested patches indeed fix the problem. I added as patches to the yocto-linux recipe with c788c20abbb3c8f9e30265e206780befcf9915a5 and will revert that when 4.15 is released.
Thanks!

[2017-12-28 16:30] #20 closed

[2018-01-02 15:03] andy-shev commented on #7
By the way @htot gets full build ready of Yocto based on latest and greatest vanilla kernel and U-Boot. Details are here: https://github.com/htot/meta-intel-edison/

[2018-01-23 20:59] alext-mkrs commented on #15
So I think I'm ready to start looking into this one. But as I'm new to U-Boot's code, if you indeed have any hints or ideas, @andy-shev - I'm all ears.

[2018-01-24 06:31] andy-shev commented on #15
@htot @alext-mkrs
Like I mentioned before, the upstream solution is to provide pin control and GPIO drivers for Intel Merrifield in U-Boot. This will give an essential part to configure board at early stage as needed.

[2018-01-24 20:18] alext-mkrs commented on #15
@andy-shev, yeah, thanks - that part is understood, I meant more like the next level of detail, i.e. where specifically would that fit best in U-Boot, do you think it makes any sense to port the driver from Linux vs. write a new one tailored to U-Boot driver model - that sort of thing, like a basic direction advice.

[2018-01-25 12:36] andy-shev commented on #15
@alext-mkrs
Linux driver (more precisely driver**s**) can be considered as a documentation, though U-Boot driver (or drivers) should be made according to U-Boot practices, e.g. *Driver Model*.

[2018-01-25 13:37] htot commented on #15
But as I understood the issue is not with the I2C driver per sé, but setting up one of the needed pin mode? As @iracigt mentions above he created a small module to do that. Maybe this code could be used as example what to add to u-boot?

[2018-01-25 20:04] alext-mkrs commented on #15
@htot, the thing is not with the _code_ itself, but the order two IP blocks are probed, that's why the module approach helps - not because it contains some different code, but because it can be loaded _after_ the SCU device (which owns those pins) is probed.

Ok, thanks Andy, I'll look into this.

[2018-01-28 18:38] andy-shev commented on #15
@alext-mkrs
The pins are not owned by SCU, they are **protected** by internal bus firewall, and SCU just has more permissions than usual I/O writes/reads.

[2018-01-29 18:26] alext-mkrs commented on #15
Oh, I see, that's interesting - thanks. I don't think this is described in any external Edison docs, so hopefully the Linux driver has enough information to do it meaningfully for u-boot.

[2018-02-05 13:28] andy-shev commented on #15
@alext-mkrs
...Linux driver from **stock** kernel. Unfortunately I have no firmware specification documents either. But I can share some of my observations (basically I extracted what is needed in my never-be-upstreamed patch set which enables I2C bus 6).

[2018-02-05 17:49] alext-mkrs commented on #15
Thanks, I'll surely take a look. Haven't yet got this unfortunately still :\ but this is the first on my list.

[2018-02-09 15:32] spanceac opened #21 "Reboot problem on Edison with 3.3V supply"
Hi,

We have a custom board that supplies the Edison module with 3.3V(VSYS voltage).
We are using the 4.13.0 kernel, compiled from this git repo.
When we give the reboot command, the system hangs.

The only log is the one bellow, without PSH kernel and u-boot starting anymore:

root@d29029e:~# reboot
[ 6213.027804] reboot: Restarting system

If we put the Edison module in the mini breakout board,

[2018-02-15 09:59] vaxvhbe commented on #21
Hello,

We have also a custom board and we have the same problem.
We use the kernel 4.15 and u-boot from Andy repo's.
For the OS we used CentOS 7 (64bits).
When we reboot the system it restarts to the micro kernel of the Edison and does not load u-boot.

But if you restart with the OTG cable connected to the Edison, no problem...

[2018-02-15 16:46] spanceac commented on #21
Hi,

I found a fix for this problem, by replacing the IPCMSG_COLD_BOOT with IPCMSG_COLD_RESET, as the command sent to SCU at reboot time.

You can see the patch here: https://github.com/resin-os/meta-edison-bsp/blob/master/recipes-kernel/linux/files/0003-Replace-reset-type-command-for-SCU.patch

[2018-02-15 18:17] vaxvhbe commented on #21
Oh nice
After several tries; it works!!
A big thank you to you

[2018-02-16 18:18] andy-shev commented on #21
@spanceac
Hmm... Looking into original Edison BSP we may find

       if (intel_scu_ipc_fw_update()) {
               pr_debug("intel_scu_fw_update: IFWI upgrade failed...\n");
       }
       if (force_cold_boot)
               rpmsg_send_generic_simple_command(IPCMSG_COLD_BOOT, 0);
       else
               rpmsg_send_generic_simple_command(IPCMSG_COLD_RESET, 0);

OTOH, the difference of the co

[2018-02-19 10:10] spanceac commented on #21
I'll prepare a patch for upstream.

Regards!

[2018-02-26 22:23] htot commented on #15
Hi Andy,

What do you think, would the following code work?

Keep in mind that I don't know exactly how a spinlock works :-)

What I am hoping to do is enable rx dma during setup and then after each rx dma timeout and flushing, re-enable it
Again. If it works as I hope it does, there should be no more rx interrupts, except on FE, PE and BI. I didn't consider
those, but if I'm lucky normal handling

[2018-04-08 23:03] htot commented on #10
@felipebalbi Do you know the status of this? I am now on 4.16 and tried with dual role enabled. I had a faulty .config trying to enable g_multi that generated a phy_generic module. And with that for some reason host usb worked. After fixing the config I can't get host mode to work. I got g_multi to work though.

I seems the controller is in device mode all the time. Setting to host (as above) stil

[2018-04-22 08:59] alext-mkrs commented on #15
Okay, so I planned to get a bit deeper into the u-boot, however life has executed its rights and looks like I won't and I won't have time to look into this particular one anytime soon :( So FYI and it's again up for grabs for anyone willing.

[2018-04-22 10:45] htot commented on #15
That's unfortunate, I hope everything is ok with you. In the meanwhile I have gone ahead and put @svenschwermer patch as a temporary solution in my meta-intel-edison rocko. It works only in the non-acpi case.

[2018-04-22 15:09] alext-mkrs commented on #15
Thanks. It's ok, just that I have to change focus somewhat and I honestly don't see how I can find time for this specific one in a foreseeable future - so I though it would only be fair to let everyone know about that explicitly.

[2018-07-18 09:00] andy-shev commented on #17
Summon @plbossart to the discussion.

[2018-08-01 19:45] andy-shev commented on #10
@htot,
I know what is the root cause of the traceback you saw when you did `echo host > mode`. It's fixed in my recent branch. I'm also trying to enable OTG (upstream already has support for that block on DWC3).

For now the *device* mode works as a charm. *Host* mode sounds like no power for devices, so they don't get enumerated.

[2018-09-11 20:38] htot commented on #15
@svenschwermer We now have a way of enabling I2C-6 from U-Boot. Nevertheless I have used your patch for our non-acpi enabled kernel and non-I2C enabled U-Boot - but never tested if I2C-6 really worked by connecting a device.

Now I have linux 4.18 and after testing the new U-Boot I decided to try our old U-Boot and kernel with your patch and find that it doesn't work. Our kernel recipe (ok, for th

[2018-09-15 19:59] htot commented on #15
@svenschwermer I found it. The Edison Arduino Hardware guide tells us to do this:
[code]
But when we touch these pins, they change to `GPIO` instead of `mode 1`. For future reference, this script correctly sets the I2C-6 bus (tested with 4.18):
[code]
With `modprobe -i i2c-dev` and TSL2561 connected:
[code]

[2018-09-21 13:02] andy-shev commented on #15
@htot
Just a side note, that this is a script for non-ACPI version of kernel/U-Boot. in ACPI case this settings are done via ASL code.

[2018-09-21 13:05] htot commented on #15
Absolutely.

[2018-12-29 22:56] #21 closed

[2019-02-18 17:07] andy-shev commented on #1
Does it still appear?

Had you chance to find a root cause?

[2019-02-18 17:09] andy-shev commented on #9
Latest branch (with ACPI support enabled) has PMIC initial driver and its GPADC. Can you try it?

[2019-02-18 17:11] andy-shev commented on #10
Latest branch (with ACPI support enabled) I have consists USB OTG working on Edison/Arduino case. I need to find mini-breakout board (I'm not sure they are still left in our office) and perhaps someone can share (send) Sparkfun base block to test or can test themselves?

[2019-02-18 17:15] ecc1 commented on #1
LOL Intel discontinued the product and I've long since moved on to a viable platform instead

[2019-02-18 17:15] #1 closed

[2019-02-18 17:37] andy-shev commented on #1
@ecc1, this repository was never the official one, and yes, I understand your point. I hope everything works for you on that platform and thanks for the bug report, maybe it would be useful to someone.

[2019-02-18 17:39] andy-shev commented on #19
@farfromrefug, is everything clarified?

[2019-02-19 07:55] farfromrefug commented on #19
@andy-shev thanks yes it s  clear now

[2019-02-19 15:35] andy-shev commented on #19
Closed based on comment from @farfromrefug.

[2019-02-19 15:35] #19 closed

[2019-02-19 18:36] esialb commented on #9
I will try to get to it this week. Do you have a sample kernel config? Or can I just reuse the Jubilinux default?

[2019-02-19 20:03] andy-shev commented on #9
@esialb, I think better to ask @htot for this. I have two branches: `edison-acpi` in U-Boot and `eds-acpi` in Linux kernel repositories. That's what I'm working with on daily basis. As kernel configuration I'm using *x86_64_defconfg*.

[2019-02-20 08:51] htot commented on #9
@esialb we are using @andy-shev defconfig with a few additions here: https://github.com/edison-fw/meta-intel-edison/blob/master/meta-intel-edison-bsp/recipes-kernel/linux/linux-yocto_4.20.0.bb

[2019-03-03 13:37] htot commented on #9
This with kernel 5.0.0-rc8 and Yocto Thud, with spidev and arduino tables (looks like I need to enable ads7951 too):
[code]

[2019-03-11 07:27] andy-shev commented on #10
Okay, with ACPI enabled U-Boot and kernel with latest patches USB DR works as a charm. I have tested this on Intel Edison mini-breakout board with external power supply and OTG connector / cable.

[2019-03-11 07:27] #10 closed

[2019-07-02 14:49] razvan-becheriu opened #26 "SoC_DT0 and SoC_DT1 (Intel temperature sensors) are not available"
Hi,

The intel temperature drivers are not available in yocto thud (edison-fw/meta-intel-edison) version.
I have tried to enable the drivers in the kernel with no success.
Can you point out what are the kernel configuration parameters I need to enable/disable so that I can access the intel temperature sensors trough /sys/class/thermal/ interface?

Thank you,
Razvan

[2019-07-03 00:51] andy-shev commented on #26
In the original BSP the *drivers/thermal/intel_mrfl_thermal.c* provides such functionality. As far as I know there is no similar functionality provided in vanilla kernel. Note, the vanilla should support rather ACPI approach to use DTS.

**UPDATE**: this comment related to a complete DTS solution, while issue report is only about temperature sensors from PMIC, which is supported by PMIC ADC driver

[2019-07-03 11:32] razvan-becheriu commented on #26
I have found that using hwmon you can actually get the temperature:
cat /sys/class/hwmon/hwmon0/temp2_label
Core 0
cat /sys/class/hwmon/hwmon0/temp2_input
55000
cat /sys/class/hwmon/hwmon0/temp3_label
Core 1
cat /sys/class/hwmon/hwmon0/temp3_input
56000

this works for me.
you can close this issue if it is of no interest for you either.

[2019-07-03 20:23] htot commented on #26
What modules do you need to get this?

[2019-07-04 16:38] andy-shev commented on #26
It looks like IIO hwmon support.

[2019-07-04 16:38] #26 closed

[2019-10-06 20:36] cklin opened #27 "eds branch fails to boot when rebased to Linux 5.4-rc1"
I have been using the eds branch with my Intel Edison boards, manually rebasing your patches to newer Linux kernels.  I have been successful in getting functioning kernel images for Linux 5.1, 5.2, and 5.3, but I am unable to get a working kernel image by rebasing your patches to Linux 5.4-rc1.

For starters, fa01aff97637a961041ef7e6279cbd32514622b6 conflicts with 7bd4227147c19860a915de6b0c775babb

[2019-10-06 21:13] htot commented on #27
Have you tried eds-acpi branch? This is currently based on 5.4-rc1.

[2019-10-07 01:58] cklin commented on #27
Oops!  Never noticed the eds-acpi branch before.  Thanks for the pointer!

[2019-10-07 01:58] #27 closed

[2019-10-07 06:59] htot commented on #27
@cklin you may have closed this too soon. The eds-acpi branch uses U-Boot supplied acpi tables instead of the firmware supplied sfi tables to initialize the hardware (this might not be the exact way to describe the difference). In particular the eds branch does some hacks to make things work, and as a result user space (mraa pin naming) remains more or less compatible with the factory firmware.

B

[2019-10-08 02:33] cklin commented on #27
Hmm.

I closed this bug because my original complaint, that the eds tree is not based on 5.4-rc1, is no longer relevant.  I could not get the eds-acpi 5.4-rc1 kernel to work in a quick test, but it was only a quick test.  I cannot say, with high confidence, that the problem is with the kernel itself (for example, I was still using a fairly old U-boot image), and I did not have much time to gather

[2019-10-08 07:06] htot commented on #27
Alright. And there is always -rc2 coming up.

[2019-10-10 12:45] andy-shev commented on #27
There is U-Boot v2019.10 out. And good news I found the root cause and had updated my branch to fix it. Should work now, please test.

[2021-03-12 14:13] dkwo opened #30 "thinkpad battery: force-discharge and inhibit-charge"
These patches introduce support for

- force the battery to discharge when AC is attached
- hold battery charging via a manual override called Inhibit Charge

on Lenovo ThinkPads.

[1] https://gist.github.com/linrunner/31ab2f83c986e640ce8f7a4032d81a28
[2] https://gist.github.com/linrunner/5109b0ed2655fdcaf88a30a0303125bf
[3] https://gist.github.com/linrunner/fd07193578e07f16a5c1c9af3309f0d2

They

[2021-03-12 16:58] andy-shev commented on #30
Thanks for your contribution! The proper way to submit is to send to the platform-driver-x86@vger.kernel.org mailing list using `git format-patch ...; git send-email ...` tools.
@jwrdegoede is on of the maintainers of the subsystem in the Linux kernel.

[2021-03-12 16:58] #30 closed

[2021-03-23 22:08] htot opened #31 "eem gadget works only after cold reboot"
This was with your configurations rebased on 5.10.24 (LTS) https://github.com/edison-fw/linux/commits/eds-acpi-5.10.24
I have bitbake apply 2 other (relevant) patches:
[code]
I'll highlight the interesting bits and have some conclusions at the end:

### This is to test eem ethernet gadget (Connector USB 2 shown as 2 on the photo).
![afbeelding](https://user-images.githubusercontent.com/16038284/11

[2021-03-30 21:51] htot commented on #31
I'm dropping trace and regdump after a cold and a warm boot captured according to instructions here: https://www.kernel.org/doc/html/latest/driver-api/usb/dwc3.html#reporting-bugs

[boot.zip](https://github.com/andy-shev/linux/files/6232410/boot.zip)

[2021-04-02 19:01] htot commented on #31
While the above traces in boot.zip allow compare which regs not correctly initialized on warm boot, I have also captured traces of unplug/plug. Here kernel is 5.10.27 (LTS), edison cold booted with USB cable plugged. Loggin via console, verified connection **inet 10.42.0.221  netmask 255.255.255.0**
[code]

Then trace unplug. Then trace plug.

[plug-unplug.zip](https://github.com/andy-shev/linux/f

[2021-04-05 20:53] htot commented on #31
Now, with host updated to ubuntu kernel ppa 5.12.0-051200rc5-generic and edison to 5.12.0-rc5-edison-acpi-standard vanilla + 2 patches appearing in rc6:
 * "usb: dwc3: gadget: Clear DEP flags after stop transfers in ep disable"
 * "usb: dwc3: pci: Enable dis_uX_susphy_quirk for Intel Merrifield"
plus one from https://github.com/andy-shev/linux/commits/eds-acpi
 * "TODO: driver core: Break infinite

[2021-04-05 22:52] dmarkey opened #32 "Support for Galileo gen 1?"
Hey there.

I got this repo link from Stack Overflow, I see you're working on a kernel that works on Quark.

I have 2 x Gen 1 Galileos I want to try to do something interesting with before they go in the garbage (Like running a proper linux distro).

I noticed in a commit message that Gen 2 minimum is required. Does that mean Gen 1 definitely wont work and a lost cause?

[2021-04-10 09:45] dmarkey commented on #32
So after building this kernel and trying to boot I am not having any success on my Gen 1. @andy-shev is Gen 1 a dead end?

Here is my grub config for reference.
[code]

And boot sequence:
[code]

[2021-04-10 20:54] andy-shev commented on #32
It's possible to revive it, but I had played with Gen 1 like 5 years ago or so. I remember that it has 3.5mm jack for serial connection. And I even have somewhere the board :-) Dunno if it is still working. In any case I have no much time for it to spend.

That said, if you wish to invest some time, I can help you, otherwise it's not gonna work.

For the first step I would recommend you to find or

[2021-04-10 21:10] dmarkey commented on #32
Yeah, lets go for it. I have a hella old debian distro working based on https://sourceforge.net/p/galileodebian

I have the special serial cable.

This distro comes with 3.8.7 and 3.2.0. And and oldish grub2.

I can jump on some kind of instant-messaging, or here if you wish.

[2021-04-12 19:06] htot commented on #31
I added another 3:
- usb: dwc3: Fix DRD mode change sequence following programming guide
- usb: dwc3: Trigger a GCTL soft reset when switching modes in DRD
- usb: dwc3: gadget: increase BESL baseline to 6

The latter seems to solve the throttling, while the first 2 help to make switching from host -> device mode work (better).

[2021-04-17 16:27] htot commented on #31
I retested usb-next (based 5.12-rc7) + "[PATCH v3] usb: dwc3: core: Do core softreset when switch mode". No throttling, but
- if I flip the switch (or unplug/plug the cable) only once, on the PC side I get:
[code]
In the zip file 1 more trace of just the switch from host->gadget
[5.12-rc7+usb-next.zip](https://github.com/andy-shev/linux/files/6329600/5.12-rc7%2Busb-next.zip)

[2021-04-17 16:41] htot commented on #31
regdump in zip files empty, resend..
[regdump.txt](https://github.com/andy-shev/linux/files/6329639/regdump.txt)

[2021-04-20 19:52] htot commented on #31
After flipping the first time the trace is empty see [first-switch.zip](https://github.com/andy-shev/linux/files/6346271/first-switch.zip)

I found the gadget configuration script was not called, which normally gets called due to a udev rule:

ACTION=="add", KERNEL=="dwc3.0.auto", SUBSYSTEMS=="udc", ATTRS{state}=="not attached", RUN+="/usr/bin/conf-gadget.sh"

So I retried and see with `udevadm mo

[2021-04-20 19:53] htot commented on #31
Also after some time (a few minutes) the connection drop but automatically reconnects.
The following trace shows that near the end.
[lost-connection.zip](https://github.com/andy-shev/linux/files/6346323/lost-connection.zip)

[2021-04-23 21:10] htot commented on #31
In total there have appeared to be 5 separate issues, summury here:

### Throttling
[https://lore.kernel.org/linux-usb](https://lore.kernel.org/linux-usb/CAHp75VeERhaPGAZc0HVs4fcDKXs+THc=_LFq_iEhWAR8vvURjw@mail.gmail.com/)
Caused by LPM
- Fixed by “PROPERTY_ENTRY_BOOL("snps,dis_enblslpm_quirk")”
- Also fixed by “BESL baseline to 6”:
[code]
### Problems switching DRD
[https://lore.kernel.org/linux-

[2021-04-24 15:28] andy-shev commented on #31
So, as far as I understand we need only two patches now to fix all 5 issues, i.e. extcon + `snps,usb2-gadget-lpm-disable`. Correct?

[2021-04-25 15:17] htot commented on #31
Yes. Thanks for reviewing, sent to ml.

[2021-04-25 15:17] #31 closed

[2021-04-28 09:44] andy-shev commented on #32
So, can we close this now? Or you still have questions?

[2021-04-28 19:41] dmarkey commented on #32
No, Thanks for all your help!

[2021-04-28 19:41] #32 closed

[2021-05-04 20:56] htot commented on #9
Close this one? I think it's resolved.

[2021-05-04 21:35] andy-shev commented on #9
To me also. In case it's not, feel free to reopen with an additional information.

[2021-05-04 21:35] #9 closed

[2022-01-22 18:11] bachejames opened #36 "Assistance with installation"
Hi there!

Thank you SO much for your tireless efforts to build this repo, it is a fantastic resource. I am attempting to install Linux onto an Intel Galileo Gen 2, but with my inexperience installing Linux I'm getting rather confused.

I have been trying to follow [this StackOverflow issue](https://stackoverflow.com/questions/64904552/how-to-install-csi-tool-on-galileo-gen2-board) but am getting

[2022-01-27 17:45] andy-shev commented on #36
Let's list them in the meaningful list:
1. _Buildroot_ distribution original documentation about Intel Galileo Gen 1 and Gen 2
2. _Buildroor_ distribution documentation for Intel platforms (from my repo)
3. _Linux kernel_ in-tree documentation: Documentation/admin-guide/README.rst

So, first of all let's split _Linux kernel_ and _Linux distribution_ parts. The Buildroot is a full _Linux distributi

[2022-02-04 00:41] bachejames commented on #36
Wow!!! Thank you **SOO** much @andy-shev for such a fantastically detailed response, I hugely, hugely appreciate it.

Over the past week I've been diligently trying this, however I have not quite succeeded yet hence why I haven't quite closed this issue.

I have been able to get the Galileo to recognize the Linux image (by renaming the image to .img and writing it to the SD card, simply copying it

[2022-02-04 15:03] andy-shev commented on #36
1. It's interesting research about image file. Usually what you need to do with the _diskimage.bin_ file is to raw copy to the storage (you may use USB stick and boot on any x86 machine just to test). The recommended software is Rufus to deploy the image on the storage (uSD card, USB stick, etc).
2. Are you trying on display or serial? I tried on serial and BuildRoot expects the main console to be

[2022-02-23 13:53] andy-shev commented on #36
How is it going? May I close the issue?

[2022-02-24 00:20] bachejames commented on #36
Hi Andy!!

**Thanks so much** for following up and many apologies for the delayed reply. Been trying to avoid bothering you until I could be sure of what, if any, issues remained.

Thanks to your fantastic instructions, I managed to load Linux successfully onto Galileo and then login! The issue I was having which meant that I was stuck in the login screen was that the FTDI cable I was using was fa

[2022-03-01 23:22] bachejames commented on #36
Hi Andy!!

Ok so I have an update! Sadly I haven't been able to resolve the original issue yet, though have made some solid progress.

As mentioned, I have been able to follow your brilliant instructions to load your Linux distro onto the Galileo. What I have been trying to work out however is how I can actually load Linux Development headers and the other required drivers and firmware as explaine

[2022-03-04 18:37] andy-shev commented on #36
Besides having no time for this right now, I'm indeed not interested even to look to old 3rd party kernels. I work with latest and greatest vanilla (or at least latest LTS, which is v5.15 as of today). Feel free to ask any additional question about latest vanilla kernel and / or latest LTS.

Good luck with the rest!

[2022-03-04 21:25] htot commented on #36
@bachejames Afaiu the kernel from dhalperi has just 2 patches on top of linux 3.5. Have you tried to apply these 2 patches on top of 5.15?

[2022-03-04 22:01] andy-shev commented on #36
@htot  It's impossible (and it's unknown which one was the base, I suppose the old kernel, so it' unrealistic task and utter waste of time):

    Valid merge of **3.8** CSItool and **3.19** Galileo kernel trees
    Showing 4,067 changed files with **1,319,798** additions and 17 deletions.

[2022-03-05 11:47] htot commented on #36
That's a merge. But the 2 patches touch 4 and 2 files respectively.

But if you are right and CSI Tool depends on a heavily patched very old kernel, then it's dead in the water.

[2022-03-06 11:44] bachejames commented on #36
Thanks so much for both of your thoughts on this! It looks like [the instructions](https://dhalperi.github.io/linux-80211n-csitool/installation.html) suggest the tool needs at least a slightly older version to work: `These instructions are currently expected to work on Linux operating systems that are based on an upstream Linux kernel version between 3.2 (e.g. Ubuntu 12.04) and 4.2 (e.g. Ubuntu 14

[2022-03-06 23:25] andy-shev commented on #36
In my opinion it will be a complete waste of your time, but it's your choice at the end. Good luck!

[2022-03-10 10:56] bachejames commented on #36
Gotcha! Many thanks for your really helpful advice @andy-shev and @htot.

[2022-03-10 10:56] #36 closed